@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root {
  --color-primary: #2E307B;
  --color-primary-light: #363880;
  --color-secondary: #4AACB3;
  --color-secondary-light: #5CB4BB;
  --color-detail: #C7A722;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

a{
  text-decoration: none;
}

ul, li {
  list-style-type: none;
}